body {
    margin: 0px;
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-size: 100vw 100vh;
    image-rendering: -webkit-optimize-contrast;
}

.blur-div {
    /* background: red; */
    display: flex;
    justify-content: flex-end;
    position: fixed;
    display: none;
}

.blur-wrapper {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    align-self: right;
    overflow: hidden;
    cursor: move;
}

.blur {
    /* background: blue; */
    width: 67.7vw;
    height: 100vh;
    backdrop-filter: contrast(92%);
    filter: blur(35px);
}

.logo {
    width: 10.66vw;
}

hr {
    display: none;
}

.hamburger{
    /* background: green; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* right: 6.4vw; */
    height: 88px;
}

.hamburger img {
    /* background: goldenrod; */
    width: 24px;
    height: 21px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
}

.nav-wrapper {
    /* background: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87.2vw;
    height: 88px;
}

nav {
    display: none;
    width: 67.7vw;
    height: 100vh;
    margin-top: 0px;
    opacity: 0.9;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    position: fixed;
    top: 0;
    right: 0;
}

.close {
    /* background: green; */
    height: 88px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close img {
    /* background: goldenrod; */
    width: 19.05px;
    height: 19.05px;
    margin-right: 7.05vw;
}

nav ul {
    /* background: cornflowerblue; */
    margin-top: 30px;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
}

#num {
    font-weight: bold;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18.66vw;
    height: 2.84vh;
    margin-bottom: 4.8vh;
}

#destination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 34.66vw;
    height: 2.84vh;
    margin-bottom: 4.8vh;
}

#crew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18.93vw;
    height: 2.84vh;
    margin-bottom: 4.8vh;
}

#technology {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.86vw;
    height: 2.84vh;
}

.home-explore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 87.2vw;
    margin-top: 3.6vh;
    margin-left: 6.4vw;
    /* background: rgb(41, 3, 46); */
}

.home {
    height: 41.3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#first {
    width: 57.86vw;
    font-family: 'Barlow Condensed';
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.68vw;
    color: #D0D6F9;
}

#space {
    font-family: 'Bellefair';
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    height: 14.99vh;
}

#second {
    font-family: 'Barlow';
    font-size: 15px;
    line-height: 3.7vh;
    text-align: center;
    color: #D0D6F9;
}

p {
    margin: 0px;
}

.explore {
    background-color: white;
    color: #0B0D17;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: 'Bellefair';
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 12.14vh;
}


@media (min-width: 768px) {
    body {
        margin: 0px;
        background-image: url("../assets/home/background-home-desktop.jpg");
        background-size: 100vw 100vh;
        image-rendering: -webkit-optimize-contrast;
    }

    .blur-div {
        display: flex;
        justify-content: flex-end;
        margin-top: 4.44vh;
        position: static;
    }
    
    .blur-wrapper {
        display: flex;
        justify-content: right;
        align-items: flex-start;
        width: 96vw;
        height: 10.7vh;
        align-self: right;
        overflow: hidden;
        cursor: move;
    }
    
    .blur {
        width: 57.6vw;
        height: 10.7vh;
        backdrop-filter: contrast(92%);
        filter: blur(20px);
    }
    
    .logo {
        width: 3.33vw;
    }
    
    hr {
        display: block;
        position: absolute;
        width: 32.8vw;
        margin-left: 7.77vw;
        opacity: 22.15%;
    }

    .hamburger{
        display: none;
    }

    .close {
        display: none;
    }

    .nav-bar {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        margin-top: -10.7vh;
    }
    
    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96vw;
        height: 10.7vh;
    }
    
    nav {
        display: flex;
        align-items: center;
        width: 57.6vw;
        height: 10.7vh;
        margin-top: 0px;
        opacity: 0.9;
        font-family: 'Barlow Condensed';
        /* font-size: 16px; */
        font-size: 1.11vw;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        position: static;
    }
    
    nav ul {
        text-align: left;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 37.63vw;
        margin-left: 14.8%;
    }
    
    nav ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }
    
    nav ul li a {
        color: aliceblue;
        text-decoration: none;
    }
    
    #num {
        font-weight: bold;
    }
    
    #home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 4.8vw;
        border-top: 3px solid transparent;
        border-bottom: 3px solid white;
        height: 10.7vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-bottom: 0;
    }
    
    #home:hover, #destination:hover, #crew:hover, #technology:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    
    #destination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 9vw;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        height: 10.7vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-bottom: 0;
    }
    
    #crew {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 4.9vw;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        height: 10.7vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin-bottom: 0;
    }
    
    #technology {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 8.8vw;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        height: 10.7vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .home-explore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 77.1vw;
        margin-top: 27.88vh;
        margin-left: 11.45vw;
    }
    
    .home {
        /* background: #D0D6F9; */
        width: 31.25vw;
        height: 42.4vh;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    /* home {
        height: 41.3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12.14vh;
    margin-bottom: 12.14vh;
    } */
    
    #first {
        width: 26.3vw;
        font-family: 'Barlow Condensed';
        font-size: 1.87vw;
        text-transform: uppercase;
        letter-spacing: 0.34vw;
        color: #D0D6F9;
    }
    
    #second {
        font-family: 'Barlow';
        font-size: 1.25vw;
        line-height: 3.5vh;
        text-align: left;
        color: #D0D6F9;
    }
    
    #space {
        font-family: 'Bellefair';
        font-size: 10.4vw;
        text-align: center;
        text-transform: uppercase;
        color: white;
        height: 19.1vh;
    }
    
    p {
        margin: 0px;
    }
    
    .explore {
        background-color: white;
        color: #0B0D17;
        width: 18.5vw;
        height: 18.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        font-family: 'Bellefair';
        font-size: 2.2vw;
        text-transform: uppercase;
        margin-top: 0vh;
    }
    
    .explore:hover:after {
        content: "";
        height: 29.25vw;
        width: 29.25vw;
        border-radius: 50%;
        border:1px solid black;
        background: #FFFFFF;
        opacity: 10.36%;
        position: absolute;
        z-index: -1;
    }
    
    /* .explore:hover {
        border: 50px solid #979797;
    } */
    /* .explore:before {
        content: "";
        width: 13vw;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 3vw solid white;
        border-left: 3vw solid;
        border-right: 3vw solid;
    }
    .explore:after {
        content: "";
        width: 13vw;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 3vw solid white;
        border-left: 3vw solid ;
        border-right: 3vw solid;
    } */
    
    
}

